

.myheader{
  text-align:center;
  background-color: white;
}
.profile-pic{
    border-radius: 50%
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background:
    url(https://www.dreamstime.com/beautiful-spring-nature-scene-pink-blooming-cherry-tree-background-beautiful-spring-nature-scene-pink-blooming-cherry-image139324858)
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
  background:
    url(https://www.dreamstime.com/beautiful-spring-nature-scene-pink-blooming-cherry-tree-background-beautiful-spring-nature-scene-pink-blooming-cherry-image139324858)


